@font-face {
    font-family:sound;
    src: url('Fast_Hand.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:sound2;
    src: url('Equalize.ttf');
    font-weight: normal;
    font-style: normal;
}


html {
    background-color: #3C3C3C;
    width:100%;
    height:100%;
    overflow-x: hidden;
}

body {
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: transparent
}

a:visited {
    color:white;
}

#headerc {
    background-color: #2C2C2C;
    width:100%;
    height:7vh;
    display: flex;
    flex-wrap: nowrap;
}

.headercontent {
    color:white;
    background-color: transparent;
}

#title {
    font-size: 2vh;
    position:relative;
}

@media only screen and (max-width:450px) {
    #title {
        font-size: 80%;
        position:relative;
    }
}



#titlecontent {
    font-family:sound2;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.subcomponent {
    position:absolute;
    left:65vw;
    top:3vh;
    color:white;
    text-decoration: none;
}

#everyoneelse {
    height:93vh;
    width:100vw;
    position:absolute;
    top:7vh;
    background-color: transparent;
    display:flex;
    flex-direction: row;
    overflow-y: auto;
}

@media only screen and (max-width:450px) {
    #everyoneelse {
        height:93vh;
        width:100vw;
        position:absolute;
        top:7vh;
        background-color: transparent;
        display:flex;
        flex-direction: column;
    }
}

#containerleft {
    background-color: transparent;
    flex-grow: 3;
}

@media only screen and (max-width:450px) {
    #containerleft {
        background-color: transparent;
        flex-grow: 1;
        height:100vh;
    }
}


#containerright {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    max-width: 30%;
}

@media only screen and (max-width:450px) {
    #containerright {
        flex-grow: 4;
        flex-shrink: 1;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        width:100%;
        max-width: 100%;
    }
}

.post {
    width:90%;
    height:40%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    background-color: #2C2C2C;
    border-radius: 5px;
    margin-top: 15px;
}

@media only screen and (max-width:450px) {
    .post {
        width:90%;
        height:60%;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        background-color: #2C2C2C;
        border-radius: 5px;
        margin-top: 15px;
    }
}

.postimage {
    width:100%;
    height:80%;
    object-fit:contain;
    background-color: chocolate;
}

.postimage img {
    width:100%;
    height:100%;
    object-fit:fill;
    background-color: aqua;
}

.posttitle {
    color:white;
    margin-left: 3px;
    margin-top: 3px;
}

.postdate {
    position:sticky;
    opacity: 0%;
    color:white;
    margin-left: 3px;
}

#picker {
    width:80%;
    height:30%;
    margin-top:5px;
    object-fit: fill;
}

#picker img {
    margin-top: 5px;
    height:40%;
    width:50%;
    object-fit: fill;
}

#picker div {
    position: relative;
    color:white;
    font-size: 32px;
    font-weight: bold;
}

@media only screen and (max-width:450px) {
    #picker div {
        position: relative;
        color:white;
        font-size: 6vw;
        font-weight: bold;
    }
}

@keyframes MOTD {
    0% {height:0%}
    1% {height:10%}
    99% {height:10%}
    100% {height:0%}
}

@keyframes MOTDtext {
    0% {left:100vw}
    100% {left:-200vw}
}

.splash {
    position:absolute;
    top:80%;
    width:100%;
    height:0%;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: MOTD;
    animation-duration: 30s;
    animation-delay: 3s;
    animation-fill-mode: both;
}


.splashtext {
    opacity:100%;
    color:white;
    z-index: 3;
    font-size: 200%;
    text-wrap: nowrap;
    position: relative;
    top:50%;
    left:100vw;
    transform: translateY(-50%);
    animation-name: MOTDtext;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width:450px) {
    .splash {
        opacity:0%
    }

    .splashtext {
        opacity:0%
    }
}
