@font-face {
    font-family:sound;
    src: url('Fast_Hand.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:sound2;
    src: url('Equalize.ttf');
    font-weight: normal;
    font-style: normal;
}

@keyframes show {
    0% {opacity: 0%;};
    100% {opacity: 75%;};
}   

@keyframes hide {
    0% {opacity: 75%;};
    100% {opacity: 0%;};
}

html {
    background-color: #3C3C3C;
    width:100%;
    height:100%;
    overflow-x: hidden;
}

body {
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: transparent
}

a:visited {
    color:white;
}

#headerc {
    background-color: #2C2C2C;
    width:100%;
    height:7vh;
    display: flex;
    flex-wrap: nowrap;
}

.headercontent {
    color:white;
    background-color: transparent;
}

#title {
    font-size: 2vh;
    position:relative;
}

@media only screen and (max-width:450px) {
    #title {
        font-size: 80%;
        position:relative;
    }
}

.songimage {
    position:relative;
    object-fit: fill;
    width:10vw;
    height:20vh;
    background-color: black;
    text-align: center;
}

#gone {
    opacity: 0%;
    height:0px;
    width:0px;
    position:absolute;
    left:999999px;
}

#titlecontent {
    font-family:sound2;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.chartspicked {
    width:70vw;
    height:100%;
    display:flex;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings {
    position:absolute;
    left:70.5vw;
    top:8vh;
}

.songtext {
    position:relative;
    color:white;
    top:0;
    width:100%;
    background-color: rgba(0,0,0,50%);
    font-size: 14px;
}

.cardsongimage {
    position:absolute;
    left:0;
    top:0;
    object-fit: fill;
    height:100%;
    width:100%;
}

h1 {
    color:white;
}

#banme {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 2;
    left:0;
    top:0;
    background-color:red;
    opacity:0%;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border: none;
    border-radius: 0%;
}

#banme:hover {
    background-color: red;
    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.banned {
    opacity:75%;
    z-index: 2;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color: red;
    border: none;
    border-radius: 0%;
}

.hidden {
    position:absolute;
    opacity: 0%;
}