@keyframes fade-in {
    0% {opacity:0}
    100% {opacity: 100%;}
}

@keyframes slide-in-left {
    0% {transform: translateX(-100%); opacity:0%;}
    100% {transform: translateX(-50%); opacity:100%;}
}

@keyframes slide-in-right {
    0% {transform: translateX(100%); opacity:0%;}
    100% {transform: translateX(-50%); opacity:100%;}
}

@keyframes slide-in-left-modified {
    0% {transform: translateX(-100%); opacity:0%;}
    100% {transform: translateX(0); opacity:100%;}
}

@keyframes slide-in-right-modified {
    0% {transform: translateX(100%); opacity:0%;}
    100% {transform: translateX(0); opacity:100%;}
}

@keyframes slide-in-right-faq {
    0% {transform: translateX(100%); opacity: 0%;}
    100% {transform: translateX(0); opacity:100%;}
}

@keyframes please {
    0% {opacity:0%}
    100% {opacity:75%}
}

@keyframes unplease {
    0% {opacity:75%;}
    100% {opacity:0%;}
}

@keyframes slide-out-top {
    0% {opacity: 100%;}
    100% {opacity: 0%; z-index: 0;}    
}

@keyframes slide-out-top-modified {
    0% {transform: translateY(0);}
    100% {transform: translateY(-100%);}    
}
  
  

@font-face {
    font-family: montserrat-light;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: montserrat-regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}



.font-montserrat {
    font-family:montserrat-regular;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
    animation-name: fade-in;
}

body {
    background-color: #111;
    margin: 0 0 0 0;
    height:100%;
    width:100%;
    overflow-x: hidden;
}

.slide-in-left {
    opacity:0%;
    animation-name: slide-in-left;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.slide-in-right {
    opacity:0%;
    animation-name: slide-in-left;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.slide-in-left-modified {
    opacity:0%;
    animation-name: slide-in-left-modified;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}


.slide-in-right-modified {
    opacity:0%;
    animation-name: slide-in-right-modified;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.slide-in-right-faq {
    opacity:0%;
    animation-name: slide-in-right;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

header {
    display: inline-block;
    opacity: 0;
    color:#B4B4B4;
    position:absolute;
    height:5%;
    width:100%;
    font-size: 32px;
    animation-delay: 200ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    font-family:montserrat-light;
    font-weight: 200;
    background-color: transparent;
}

.elo-leaderboard {
    position:absolute;
    background-color: #232323;
    width:80%;
    height:70%;
    top:15%;
    left:50%;
    transform: translateX(-50%);
}

@media only screen and (max-width:450px) {
    .elo-leaderboard {
        width:100%;
        font-size: 12px;
    }
}

.elo-leaderboard-title {
    position:absolute;
    top:7%;
    left:50%;
    color:#EEE;
    font-size:40px;
    transform: translateX(-50%);
}

.elo-leaderboard-header {
    height:7%;
    width:100%;
    background-color: springgreen;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom:2px solid #EEE;
}

.elhc{
    height:calc(100% - 1em);
    width:100%;
    position:relative;
    top:calc(90% - 1em);
    color:#EEE;

}

.Name {
    background-color: #3A3A3A;
    text-align: center;
}

.ELO {
    text-align: center;
    background-color: #616161;
}

.SP {
    text-align: center;
    background-color: #3A3A3A;
}

.WL {
    text-align: center;
    background-color: #616161;
}

.Rank {
    text-align: center;
    background-color: #3A3A3A;
}

.elo-leaderboard-content {
    overflow-y: auto;
    height:93%;
    width:100%;
}

.elo-leaderboard-content-inner {
    height:30px;
    width:100%;
    background-color: springgreen;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom:2px solid #EEE;
}

a {
    text-decoration: none;
    color:#EEE;
}

a:visited {
    text-decoration: none;
    color:#EEE;
}

a:active {
    text-decoration: none;
    color:#EEE;
}

a:link {
    text-decoration: none;
    color:#EEE;
}

.priviledges {
    background: 
   linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
   0 0/100% 200%;
   animation: oh-hi 2s linear infinite;
}

@keyframes oh-hi {
    to {background-position:0 -200%}
}

.upcoming-title {
    color:#EEE;
    position:absolute;
    top:95%;
    left:50%;
    transform: translateX(-50%);
    font-size:40px;
    text-wrap: nowrap;
}

.upcoming {
    position:absolute;
    width:96%;
    margin-left: 2%;
    margin-right: 2%;
    height:40%;
    background-color: transparent;
    top:103%;
}

.event {
    float:left;
    height:100%;
    width:300px;
    background-color: #2A2A2A;
    color:#EEE;
    position:relative;
    left:50%;
    transform: translateX(-50%);

}

.event-header {
    width:100%;
    height:10%;
    text-align: center;
    font-size: 32px;
    background-color: #3A3A3A;
    position:relative;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media only screen and (max-width:450px) {
    .event-header {
        font-size: 28px;
    }
}

.main-stage-header {
    float:left;
    position:relative;
    height:39%;
    width:50%;
    margin-top: 1%;
    font-size: 28px;
}

.main-stage-content {
    float:right;
    position:relative;
    height:39%;
    width:50%;
    margin-top: 1%;
    text-align: right;
    font-size: 28px;
}

.side-stage-header {
    float:left;
    position:relative;
    height:39%;
    width:50%;
    margin-top: 1%;
    font-size: 16px;
}

.side-stage-content {
    float:right;
    position:relative;
    height:39%;
    width:50%;
    margin-top: 1%;
    font-size: 16px;
    text-align: right;
}

.Date {
    position:relative;
    top:1%;
    height:9%;
    width:100%;
    font-size: 20px;
    text-align: center;
}

.please {
    position:absolute;
    height:100%;
    width:300px;
    background-color:#EEE;
    opacity:0%;
    z-index: 3;
    animation-name: unplease;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.please:hover {
    opacity:75%;
    animation-name: please;
    animation-direction: normal;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.please-center {
    position:relative;
    top:30%;
    height:50%;
    text-align: center;
    opacity:100%;
    color: #111;
}

.faq-title {
    top:153%;
    position:absolute;
    color:#EEE;
    font-size:40px;
    left:50%;
}



.faqs {
    overflow-x: hidden;
    top:161%;
    position:absolute;
    font-size: 30px;
    color: #EEE;
    width:80%;
    height:100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: transparent;
}

.faq-question {
    height:1em;
    width:100%;
    background-color:transparent;
    margin-top: 5%;
    opacity: 0%;
}

.faq-response {
    font-size: 25px;
    text-align: right;
    height: 1em;
    width:100%;
    background-color: transparent;
    left:50%;
    position:relative;
    opacity:0%;
}

@media only screen and (max-width:450px) {
    .faq-question {
        font-size: 25px;
        height:3em;
        margin-top: 5%;
    }
    .faq-response {
        font-size: 20px;
        text-align: left;
        margin-bottom: 35px;
    }
}

.obligatory {
    position:absolute;
    top:305%;
    height:25%;
    width:100%;
    color:white;
    font-size: 20px;
    background-color: #FFFFFF09;
}

.flashed {
    will-change: transform;
    position:absolute;
    animation-name: slide-out-top;
    animation-delay: 1.5s;
    animation-duration: 1000ms;
    animation-timing-function:cubic-bezier(0.550, 0.085, 0.680, 0.530);
    animation-fill-mode: forwards;
    width:100%;
    height:100%;
    background-color:#EEE;
    overflow-y: none;
    z-index: 99999;
}

.flashed-child /*I gotta fix my naming schemes*/ {
    top:50%;
    left:50%;
    position:relative;
    width:100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 64px;
    color:black;
    z-index: 999999;
    opacity:100%;
}


#byebye {
    animation-name: none;
    top:-99999%;
}
.goawayplease {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0%;
    animation-name: slide-out-top-modified;
    animation-delay: 1s;
    animation-duration: 1000ms;
    animation-timing-function:cubic-bezier(0.550, 0.085, 0.680, 0.530);
    animation-fill-mode: both;
}

html {
    overflow-y:hidden;
}